body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-wrapper {
  background-color: antiquewhite;
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.main-txt {
  width: 100%;
  height: 100px;
}
.main-content {
  width: 100%;
  height: auto;
  background-color: azure;
}

.content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  padding: 0;
}
.content-keys {
  list-style-type: none;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 7px 15px;
}
